//
//  Development.xcconfig
//  Jokes
//
//  Created by Cristian Crasneanu on 14.03.2023.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_BUNDLE_ID = id
APP_NAME = name

TASK_CONFIGURATOR_ENVIRONMENT = environment
OPERATION_LOGGING_ENABLED = false

#include "LocalDevelopment.xcconfig"
